<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form method="post">
    {% csrf_token %}

<label>Name</label>
<input type="text" name ="Name" value="{{ data.Name }}" required >
{% if error.exist2 %}
{{ error.exist2 }}
{% endif %}<br>
<label>Email</label><input type="text " name = "Email" value="{{ data.Email }}"  required>
{% if error.exist1 %}
{{ error.exist1 }}
{% endif %}<br>
<label>Password</label><input type="password " name="Password" value="{{ data.Password }}" required><br>
<button type="submit" value="submit">Submit</button>
</form>
</body>
</html>